# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter Generated
/net/android/app/src/main/java/io/flutter/plugins
/net/linux/flutter
/net/macos/flutter
/net/windows/flutter

# Gradle Generated
/net/android/.gradle/7.5/executionHistory
/net/android/.gradle/7.5/fileHashes
/net/android/.gradle/buildOutputCleanup

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/net/android/app/debug
/net/android/app/profile
/net/android/app/release

# VS Code
/.vscode
